<h1>Orders</h1>

<table class="responsive-table">
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <thead>
  <tr>
    <th> Id</th>
    <th> Correo</th>
    <th>Status</th>
    <th>Total</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%=order.id%> </td>
        <td><%=order.customer.user.email%> </td>
        <td><%=order.state%></td>
        <td><%=order.total%></td>

        <% if order.processing? %>
          <td><%= link_to 'Finalized', finalized_chef_orders_path(id: order), method: :put %></td>
        <% elsif order.commands? %>
          <td><%= link_to 'Process', to_process_chef_orders_path(id: order), method: :put %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>

</table>