<div id="tab1" class="col s12">
  <table responsive-tableclass="responsive-table">
    <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    </thead>

    <thead>
    <tr>
      <th> Correo</th>
      <th>Status</th>
      <th>Payment method</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @orders.today.each do |order| %>
        <tr>
          <td><%=order.customer.user.email%> </td>
          <td><%=order.state%></td>
          <td><%=order.payment_method%></td>
          <td>$<%=order.total%></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div>
    <h3>Total today: <%= Order.cash_flow_today %></h3>
  </div>
</div>

<div id="tab2" class="col s12 ">
  <table class="responsive-table">
    <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    </thead>

    <thead>
    <tr>
      <th> Correo</th>
      <th>Status</th>
      <th>Payment method</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @orders.month.each do |order| %>
        <tr>
          <td><%=order.customer.user.email%> </td>
          <td><%=order.state%></td>
          <td><%=order.payment_method%></td>
          <td>$<%=order.total%></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div>
    <h3>Total month: <%= Order.cash_flow_month %></h3>
  </div>
</div>