<div class = "row">
  <%= form_with(model: [ @chef, @dish ], local: true, class: "col s12") do |form| %>
      <% if dish.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

            <ul>
              <% dish.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="input-field col s12">
        <%= form.label :name %>
        <%= form.text_field :name, required: true %>
      </div>

      <div class="input-field col s12 ">
        <%= form.label :description %>
        <%= form.text_area :description, class: "materialize-textarea" %>
      </div>

      <div class="input-field col s12">
        <%= form.label :price %>
        <br><br>
        <%= form.text_field :price, :type => "decimal", required: true %>
      </div>

      <div class="input-field col s12">
        <%=form.file_field :picture %>
        <br><br>
      </div>


      <%= form.submit "Create Dish", class:"btn btn-large waves-light" %>
  <% end %>
</div>