<p id="notice"><%= notice %></p>

<h1>Dishes</h1>
<a class="btn-floating btn-large waves-effect waves-light right" href="<%=new_chef_dish_path(@chef)%>"><i class="material-icons">add</i></a>



<table class="responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Dish Price</th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%=dish.name%></td>
        <td><%=dish.description%></td>
        <td>$<%=dish.price%></td>
        <td><%= link_to content_tag('i','edit', class: 'material-icons'), edit_chef_dish_path(@chef, dish) %></td>
        <td><%= link_to content_tag('i','visibility', class: 'material-icons'), chef_dish_path(@chef, dish) %></td>
        <%if dish.active? %>
            <td><%= link_to content_tag('i','check', class: 'material-icons'), [@chef, dish], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%else%>
            <td><%= link_to content_tag('i','close', class: 'material-icons'), [@chef, dish], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>

      </tr>
    <% end %>
  </tbody>
</table>
