<div class="row">
  <div class="col s6 offset-s3">
    <div class="card ">
      <div class="card-image waves-effect waves-block waves-light card-margin ">
        <%= circle_img @dish.picture.url(:medium) %>
      </div>
      <div class="card-content center">
        <span class="card-title activator grey-text text-darken-4"><%=@dish.name%><i class="material-icons right">more_vert</i></span>
        <p> <%= link_to 'Edit',  edit_chef_dish_path(@chef, @dish) %> </p>
      </div>
      <div class="card-reveal center">
        <span class="card-title grey-text text-darken-4"><%=@dish.name%><i class="material-icons right">close</i></span>
        <p><%=@dish.description%></p>
        <p><%=@dish.price%></p>
        <p>This dish is <%=@dish.active_?%></p>
      </div>
    </div>
  </div>
</div>


